*{
    padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6{
    color: #0010A4;

}

body{
    background-color: #EBFBFF;
    
}

#entire{
    min-width:80%;
    max-width: 80%;
    margin: 0 auto;
}

.dark-mode {
    background-color: black;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
}



h1{
    font-size:3rem;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.become{
    font-size:1rem;
    background-color: rgb(255, 255, 255);
    min-width:30%;
    max-width: 30%;
    margin: 0 auto;
    border: 2px solid black;
    color: white;
    
}

.logo{
    width:275px;
    max-width:50%;
    min-width:50%;
    justify-content: center;
  

}

.slogan{
    font-size:3.5rem;
    margin-top:-250px;
    position:fixed;
    color:rgb(151, 207, 255);
    max-width:100%;
    min-width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.links{
    display:inline-block;

}


ol{
    padding:35px;
}

a{
    text-decoration: none;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a:hover{
    color:rgb(0, 4, 255);
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x:auto; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


img{
    width:100%;
}

.goals{
    padding:35px;
}

.resources{
    padding:35px;
}

.sub-list{
    padding-left:35px;
}

span{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Prof{
    border: 2px solid black;
    filter:none;
    width:50%;
}

.work{
    margin-left:px;
}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;

}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    padding:10px;
    text-align: center;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;

}

/****************************************************Div rules***********************************************************************************/

.span{
    padding:20px;
}
